html {
  height: auto !important;
}

.semi-dark .sidebar-wrapper,
.semi-dark .sidebar-wrapper .sidebar-header {
  background-color: #1a171c;
}

.semi-dark .sidebar-wrapper,
.semi-dark .sidebar-wrapper .sidebar-header {
  border-right: 1px solid #1a171c;
}

.semi-dark .top-header .navbar .searchbar .form-control:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.semi-dark .sidebar-wrapper .sidebar-header {
  border-bottom: 1px solid rgb(255 255 255 / 12%);
  color: #fcfcfc;
}

.semi-dark .sidebar-wrapper .sidebar-header .logo-text,
.semi-dark .sidebar-wrapper .sidebar-header .toggle-icon {
  color: #fcfcfc;
}
.bi-list::before {
  color: #fff;
  background-color: #ea062b;
  border-radius: 5px;
}

.semi-dark .sidebar-wrapper .metismenu .mm-active > a,
.semi-dark .sidebar-wrapper .metismenu a:active,
.semi-dark .sidebar-wrapper .metismenu a:focus,
.semi-dark .sidebar-wrapper .metismenu a:hover {
  color: #ffff;
  text-decoration: none;
  background: #ea062b;
  border-left: 4px solid  #D0F2FF;

}
i.fadeIn.animated.bx.bx-home-circle:active
i.fadeIn.animated.bx.bx-home-circle:focus
i.fadeIn.animated.bx.bx-home-circle:hover{
  color: #ffffff !important;
}

.semi-dark .sidebar-wrapper .metismenu a {
  color: #fff;
}

.semi-dark .sidebar-wrapper .metismenu ul {
  border: 1px solid #ffffff00;
}

/*.semi-dark .sidebar-wrapper .sidebar-header img {
    filter: invert(1) grayscale(100%) brightness(200%);
}*/

.semi-dark .sidebar-wrapper .simplebar-scrollbar:before {
  background: rgba(255, 255, 255, 0.4);
}

.semi-dark .top-header .navbar {
  background-color: rgb(249 250 251 / 19%);
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  backdrop-filter: blur(6px);
}


.semi-dark .top-header .navbar .searchbar .form-control {
  background-color: #f9fafb;
}

.semi-dark .top-header .navbar .searchbar .form-control:focus {
  background-color: #ffffff;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
